@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  padding: 1vh;
  margin: 0;
  background-color: #fff;
}
.container-fluid {
  background-color: #fff;
}

.container-fluid .navbar-brand {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 900;
  font-weight: bolder;
  color: black;
}
.navbar-nav li a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 900;
  font-weight: bolder;
  color: #8565b9;
  padding: 2vh;
}
.nav-item a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 900;
  font-weight: bolder;
}
#carouselExampleCaptions {
  padding-top: 2vh;
  margin: auto;
  width: 600px;
  height: 300px;
}
#carouselExampleCaptions .carousel-item {
}
.caixa {
  display: flex;
  justify-content: center;
  gap: 10vh;
}
.card {
  margin-top: 8rem;
}
.card-title {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: black;
  text-align: center;
  padding-bottom: 2vh;
}
.card-body {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: black;
  text-align: justify;
}
.card-link {
  text-decoration: none;
  padding-left: 4vh;
}
